.DS_Store
.idea/

**/.*
!.gitattributes
!.openapi-generator-ignore
!.gitignore
!.github


# ignore any swagger.json file that ends up in here
swagger.json

# ignore test folders created during local testing
lusid_drive
insights
identity
schedule
finbourne-luminesce

**/*.pyc

#some reason the test_sdk generates additional files with the extension -e
*.*-e
