{{#lambda.titlecase}}{{{packageNameSpaced}}}{{/lambda.titlecase}}<sup>®</sup> Python SDK

This is the Python SDK for [{{#lambda.titlecase}}{{{packageNameSpaced}}}{{/lambda.titlecase}} by FINBOURNE](https://www.finbourne.com), part of our bi-temporal investment management data platform with portfolio accounting capabilities.  To use it you'll need a LUSID account. [Sign up for free at lusid.com](https://www.lusid.com/app/signup)

API description: {{description}}

This package provides an [API module]((/sdk/docs/apis.md)) for making requests to {{#lambda.titlecase}}{{{packageNameSpaced}}}{{/lambda.titlecase}}, [model objects](/sdk/docs/models.md) for serialising requests and deserialising responses from {{#lambda.titlecase}}{{{packageNameSpaced}}}{{/lambda.titlecase}} and extension module for configuring authentication to {{#lambda.titlecase}}{{{packageNameSpaced}}}{{/lambda.titlecase}}.

This is version {{packageVersion}} of the {{projectName}}. Version 1 can be found [here](https://github.com/finbourne/{{projectName}}-python-preview).

<a href="https://www.lusid.com/app/signup"><img src="https://content.finbourne.com/LUSID_repo.png" alt="{{#lambda.uppercase}}{{packageName}}{{/lambda.uppercase}}_by_FINBOURNE"></a>

[![pypi](https://img.shields.io/pypi/v/{{projectName}})](https://pypi.org/project/{{projectName}}/)
[![python](https://img.shields.io/pypi/pyversions/{{projectName}}.svg)](https://pypi.python.org/pypi/{{projectName}})

## Prerequisites.

You'll need a LUSID account in order to use the FINBOURNE SDKs. [Sign up for free at lusid.com](https://www.lusid.com/app/signup).

## Quick start

First set up your environment variables to connect to the {{packageName}} API.
The API URL required for this SDK `{{#lambda.uppercase}}FBN_{{packageName}}_API_URL{{/lambda.uppercase}}` can be found in [this knowledgebase article](https://support.lusid.com/knowledgebase/article/KA-01787/en-us).
You will also need to create a [Personal Access Token](https://support.lusid.com/knowledgebase/article/KA-01774) in LUSID.

```console
export {{#lambda.uppercase}}FBN_{{packageName}}_API_URL{{/lambda.uppercase}}="https://demo.lusid.com/api"
export FBN_ACCESS_TOKEN="VGhpcyBpcyBhbiBleGFtcGxlIHRva2VuLg=="
```

Then you will need to create an `ApiClientFactory`:
 ```python
 import {{packageName}}

 api_client_factory = {{packageName}}.ApiClientFactory()
 ```

## Installation

We recommend using a [virtual environment](https://docs.python.org/3/library/venv.html) to install Python packages.

Once you have created and activated a virtual environment, you can install directly using:

```sh
pip install {{projectName}}
```

## Authenticating to {{#lambda.titlecase}}{{{packageNameSpaced}}}{{/lambda.titlecase}}

You'll need to provide some configuration to connect to the {{#lambda.titlecase}}{{{packageNameSpaced}}}{{/lambda.titlecase}} application. This will include an [API URL](https://support.lusid.com/knowledgebase/article/KA-01787/en-us).
These can be provided using a secrets file or environment variables.

### Environment variables

In order to use [short lived access tokens](https://support.lusid.com/knowledgebase/article/KA-01654/en-us) you will need to have appropriate values set for the following environment variables:

``` 
FBN_TOKEN_URL,
{{#lambda.uppercase}}FBN_{{packageName}}_API_URL{{/lambda.uppercase}},
FBN_USERNAME,
FBN_PASSWORD,
FBN_CLIENT_ID,
FBN_CLIENT_SECRET
```

To use a long lived Personal Access Token, you must provide the following environment variables:
``` 
{{#lambda.uppercase}}FBN_{{packageName}}_API_URL{{/lambda.uppercase}},
FBN_ACCESS_TOKEN
```

You can send your requests to {{#lambda.titlecase}}{{{packageNameSpaced}}}{{/lambda.titlecase}} via a proxy, by setting `FBN_PROXY_ADDRESS`. 
If your proxy has basic auth enabled, you must also supply `FBN_PROXY_USERNAME` and `FBN_PROXY_PASSWORD`

By default, the {{#lambda.titlecase}}{{{packageNameSpaced}}}{{/lambda.titlecase}} will use your system certificates to validate HTTPS connections. 
To pass a different certificate file to the SDK set the `FBN_CLIENT_CERTIFICATE` environment variable to the path storing the root certificates.

### Secrets file

In order to use [short lived access tokens](https://support.lusid.com/knowledgebase/article/KA-01654/en-us) you will need to have appropriate values set in a `secrets.json` file in the same folder as your script.

```json
{
    "api":
    {
        "tokenUrl":"<your-token-url>",
        "{{packageName}}Url":"<FINBOURNE-application-url>",
        "username":"<your-username>",
        "password":"<your-password>",
        "clientId":"<your-client-id>",
        "clientSecret":"<your-client-secret>",
    }
}
```

To use a long lived Personal Access Token, you must provide a `secrets.json` with the following variables:
```json
{
    "api":
    {
        "{{packageName}}Url":"<FINBOURNE-application-url>",
        "accessToken":"<your-access-token>"
    }
}
```

You can send your requests to {{#lambda.titlecase}}{{{packageNameSpaced}}}{{/lambda.titlecase}} via a proxy, by adding a proxy section to your `secrets.json`. 
If your proxy has basic auth enabled, you must also supply a `username` and `password` in this section.

```json
{
    "api":
    {
        "{{packageName}}Url":"<FINBOURNE-application-url>",
        "accessToken":"<your-access-token>"
    },
    "proxy":
    {
        "address":"<your-proxy-address>",
        "username":"<your-proxy-username>",
        "password":"<your-proxy-password>"
    }
}
```

By default, the {{#lambda.titlecase}}{{{packageNameSpaced}}}{{/lambda.titlecase}} will use your system certificates to validate HTTPS connections. 
To pass a different certificate file to the SDK set the `clientCertificate`variable to the path storing the root certificates:

```json
    "api":
    {
        "{{packageName}}Url":"<FINBOURNE-application-url>",
        "accessToken":"<your-access-token>"
        "clientCertificate":"certificates.pem"
    },

```

## Using the {{projectName}} to make requests to FINBOURNE's {{#lambda.uppercase}}{{packageName}}{{/lambda.uppercase}} application

To make requests to {{#lambda.uppercase}}{{packageName}}{{/lambda.uppercase}}, you will first need to build a {{#lambda.uppercase}}{{packageName}}{{/lambda.uppercase}} API object.

The {{packageName}}.extensions module contains useful components to build and configure APIs.

### Configuration loaders

The `{{packageName}}.extensions.configuration_loaders` module contains our `ConfigurationLoader` [protocol](https://peps.python.org/pep-0544/), 
classes that implement the `ConfigurationLoader` protocol, and a default set of configuration loaders that can be used to read configuration in from different sources.

Objects that are compatible with the `ConfigurationLoader` interface will return a dictionary of attributes that are used to configure the {{#lambda.titlecase}}{{{packageNameSpaced}}}{{/lambda.titlecase}} APIs and `ApiClient`.

#### SecretsFileConfigurationLoader

Use this config loader to read values from a secrets file, with a [specific format](#secrets-file).

You can pass a filepath to the SecretsFileConfigurationLoader to open the file and read the auth configuration.
```python
from {{packageName}} import SecretsFileConfigurationLoader


secrets_file_path = "secrets.json"
config_loaders = (SecretsFileConfigurationLoader(api_secrets_file=secrets_file_path),)
```
Alternatively, pass a handle to an already open file.

```python
from {{packageName}} import SecretsFileConfigurationLoader


secrets_file_path = "secrets.json"
with open(secrets_file_path) as secrets_file
    config_loaders = (SecretsFileConfigurationLoader(api_secrets_file=secrets_file),)
```

#### EnvironmentVariablesConfigurationLoader

Use this config loader to read values from environment variables, with [specific keys](#environment-variables).

```python
from {{packageName}} import EnvironmentVariablesConfigurationLoader


config_loaders = (EnvironmentVariablesConfigurationLoader(),)
```

### ApiClientFactory & SyncApiClientFactory

You can use an `ApiClientFactory` to build API objects with authentication and other configuration. To build an API with a synchronous API client please use our `SyncApiClientFactory`.

An `ApiClientFactory` takes a set of configuration_loaders, reading values from each loader in order (last write wins).
If you do not supply any configuration loaders, the `ApiClientFactory` will read from environment variables and a `secrets.json` file in the current working directory by default.

```python
from {{packageName}} import SecretsFileConfigurationLoader, EnvironmentVariablesConfigurationLoader, ApiClientFactory


secrets_file_path = "secrets.json"
with open(secrets_file_path) as secrets_file
    config_loaders = (SecretsFileConfigurationLoader(api_secrets_file=secrets_file)
                      EnvironmentVariablesConfigurationLoader())
    api_client_factory = ApiClientFactory(config_loaders=config_loaders)
```
Once you have built an `ApiClientFactory`, you can use it to build API instances.
```python
# Enter a context with an instance of the ApiClientFactory to ensure the connection pool is closed after use
{{#apiInfo}}{{#apis}}{{#-first}}{{#operations}}{{#operation}}{{#-first}}{{#asyncio}}async {{/asyncio}}with api_client_factory:
    # Create an instance of the API class
    api_instance = api_client_factory.build({{{classname}}})

    # And then use API instances to send requests, and deserialise responses:
    {{#allParams}}
    {{paramName}} = {{{example}}} # {{{dataType}}} | {{{description}}}{{^required}} (optional){{/required}}{{#defaultValue}} (default to {{{.}}}){{/defaultValue}}
    {{/allParams}}

    try:
        {{#summary}}
        # {{{.}}}
        {{/summary}}
        {{#returnType}}api_response = {{/returnType}}{{#asyncio}}await {{/asyncio}}api_instance.{{{operationId}}}({{#allParams}}{{#required}}{{paramName}}{{/required}}{{^required}}{{paramName}}={{paramName}}{{/required}}{{^-last}}, {{/-last}}{{/allParams}})
        {{#returnType}}
        print("The response of {{classname}}->{{operationId}}:\n")
        pprint(api_response)
        {{/returnType}}
    except ApiException as e:
        print("Exception when calling {{classname}}->{{operationId}}: %s\n" % e)
    {{/-first}}{{/operation}}{{/operations}}{{/-first}}{{/apis}}{{/apiInfo}}
```

#### Setting request timeouts

You can set the timeout for a request by passing the `_request_timeout` kwarg:
```python
request_timeout = 100 # 100s timeout
{{#apiInfo}}{{#apis}}{{#-first}}{{#operations}}{{#operation}}{{#-first}}
{{#returnType}}api_response = {{/returnType}}{{#asyncio}}await {{/asyncio}}api_instance.{{{operationId}}}({{#allParams}}{{#required}}{{paramName}}{{/required}}{{^required}}{{paramName}}={{paramName}}{{/required}}{{^-last}}, {{/-last}}{{/allParams}}_request_timeout=request_timeout){{#returnType}}{{/returnType}}{{/-first}}{{/operation}}{{/operations}}{{/-first}}{{/apis}}{{/apiInfo}}
```

### Troubleshooting

API methods may throw an `ApiException` if your request is unsuccessful, which will contain an error code, error message and LUSID request ID.

Simply catch the `ApiException` and take a look at the `body` attribute on the exception. This should be json dictionar encoded as a strint, which will contain the following keys:

- name
- errorDetails
- code
- type
- title
- status
- detail
- instance
- extensions

Example:
```json
{'code': 109,
 'detail': "Portfolio with id 'bvare' in scope 'foo' effective at "
           "'2024-05-19T22:56:14.1401880+00:00' as at "
           "'2024-05-19T22:56:12.3090140+00:00' not found.",
 'errorDetails': [],
 'extensions': {},
 'instance': 'https://example.lusid.com/app/insights/logs/0HN3MLTAQHP04:000000E9',
 'name': 'PortfolioNotFound',
 'status': 404,
 'title': 'Portfolio not found',
 'type': 'https://docs.lusid.com/#section/Error-Codes/109'}
```

To view related logs in lusid, access the link provided in the `instance` part of the error body.

Error codes can be referenced in our [LUSID swagger page](https://example.lusid.com/api/swagger/index.html).

